@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --heist:red;
  --kibla:black;
  --ty:azure;
  --masekunde:0.3s;
  --primary-500: rgb(230, 52, 52);
  --primary-600: #fe0202;
  --secondary-500: #FFB620;
  --off-white: #D0DFFF;
  --red: #FF5A5A;
  --dark-1: #000000;
  --dark-2: #09090A;
  --dark-3: #101012;
  --dark-4: #1F1F22;
  --light-1: #FFFFFF;
  --light-2: #EFEFEF;
  --light-3: #7878A3;
  --light-4: #5C5C7B;
  --wabling:rgba(255, 255, 255, 0.1);
}

.maja
{
  color: var(--ty);
  margin-top: 3px;
  font-size: 19px;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-display: inline-block;
}

.maja:hover
{
  content: '';
  color: var(--ty);
  transition: var(--masekunde);
}

.leftsidebar-links
{
  color: var(--heist);
  font-family: belleza, sans-serif;
  font-size: 20px;
  border: 2px solid gray;
  background-color: var(--kibla);
  border-radius: 15px;
  position: relative;
}
.leftsidebar-links:hover
{
  background-color: var(--kibla);
  border: 3px solid var(--heist);
  color: var(--kibla);
  transition: var(--masekunde);
}

.bottom-bar
{
  width: 100%;
  background-color: var(--wabling);
  border-radius: 50px;
  color: var(--heist);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 5px;
  position: fixed;
  z-index: 50;
  bottom: 8px;
  backdrop-filter: blur(6px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
}

.bottombar-links
{
  color: var(--heist);
  font-family: belleza, sans-serif;
  font-size: 12px;
  border: 1px solid gray;
  background-color: var(--kibla);
  border-radius: 15px;
  width: 90px;
  height: 50px;
  display: grid;
  position: relative;
  margin-bottom: 5px;
}
.bottombar-links:hover
{
  background-color: var(--kibla);
  border: 2px solid var(--heist);
  color: var(--kibla);
  transition: var(--masekunde);
  transform: scale(1.1);
}

.mboka-nichi
{
  color: var(--heist);
  font-family: belleza, sans-serif;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  height: 50px;
}


.mboka
{
  color: var(--heist);
  font-family: belleza, sans-serif;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  height: 70px;
}

.mboto
{
  width: 30px;
  border-radius: 10px;
  color: var(--kibla);
}

.mboto:hover
{
  background-color: var(--heist);
  transition: var(--masekunde);
}

@media screen and (max-width: 768px) {
 .topbar
{
  width: 100%;
  background-color: var(--kibla);
  border-bottom: 2px solid var(--wabling);
  color: var(--heist);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  position: fixed;
  z-index: 50;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user-image
{
  height: 40px;
  width: 40px;
  border-radius: 20%;
  flex-grow: 1;
}


 .leftsidebar
 {
  width: 0px;
  background-color: var(--kibla);
  padding: 1px 5px;
  margin-left: 15px;
  display: none;
 }
}





@media screen and (min-width: 768px) {
  .topbar
{
  background-color: var(--kibla);
  color: var(--heist);
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  position: fixed;
  z-index: 50;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bottom-bar
{
  width: 100%;
  background-color: var(--kibla);
  color: var(--heist);
  display: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 5px;
  position: fixed;
  z-index: 50;
  bottom: 0px;
}

.leftsidebar
{
  width: 230px;
  background-color: var(--kibla);
  padding: 1px 9px;
  margin-left: 15px;
  display: auto;
  border-right: 1px solid var(--wabling);

}
.user-image-sidebar
{
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin-top: 10px;
}
}
  

/*home container*/
.home-container
{
  color: var(--ty);
  background-color: var(--kibla);
  width: 100%;
  height: 100%;
  font-family: belleza, sans-serif;
  font-size: 20px;
  margin-top: 75px;
}

/*publish container*/
.publish-des
{
  width: 100%;
  color: var(--heist);
  background-color: var(--kibla);
  align-items: center;
  font-weight: bolder;
  font-family:  sans-serif;
  font-size: 20px;
  display: flex;
  gap: 15px;

}

.memediaa
{
  width: 28rem;
  display: grid;
  margin-top: 20px;
  padding: 2px;
  border-radius: 5px;
  gap: 25px;
}

.input2
{
  color: var(--ty);
  border: solid var(--nyake);
  font-family: var(--mirista);
  width: 100%;
}


